:root {
    --background: url("https://wallpapercave.com/wp/wp7786298.jpg");
    --primary: #3498db;
    --secondary: #696969;
    --tertiary: #e74c3c;
    --quaternary: #34495e;
    --quinary: #ecf0f1;
    --glass-border: rgba(255, 255, 255, 0.1);
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.container {
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 0 20px;
    margin: 50px auto;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid var(--glass-border);
    background-clip: padding-box;
}

@media screen and (max-width: 768px) {
    .container {
        backdrop-filter: blur(5px);
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h1, h2, h3 {
    color: #545454;
}
.footer_text_h3 {
    color: #545454;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer_text_p {
    color: #545454;
    font-size: 0.7rem;
    margin-bottom: 20px;
}

iframe {
    display: block;
    border: none;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.8);
}

.twitch-iframe, .youtube-iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 60vh;
}

.iframe-wrapper {
    width: 80vw;
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid var(--glass-border);
    background-clip: padding-box;
}

.iframe-container {
    display: block;
    z-index: 0;
}

/* Login Form Styles */

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.login-form {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: #656565;
    max-width: 300px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid var(--glass-border);
    background-clip: padding-box;
}


.inputs {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    background: var(--background);
    color: #545455;
    text-align: center;
    font-size: 1.5rem;
}
.login-btn {
    width: 50%;
    padding: 10px;
    background-color: var(--secondary);
    color: #fff;
    border: none;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.login-btn:hover {
    background-color: #9c9c9c;
}

.error-message {
    color: #e74c3c;
    margin-bottom: 50px;
}

#logout-button {
    background-color: var(--tertiary);
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                -5px -5px 10px rgba(255, 255, 255, 0.5);
}

#logout-button:hover {
    background-color: #c0392b;
}

/* Server Buttons Styles */
.servers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.serverBtn {
    padding: 10px 20px;
    background-color: var(--secondary);
    color: #fff;
    border: none;
    margin: 0 10px 20px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                -5px -5px 10px rgba(255, 255, 255, 0.5);
}

.serverBtn:active {
    background-color: var(--tertiary);
}

.serverBtn:hover {
    background-color: var(--tertiary);
}

@media screen and (max-width: 768px) {
    .footer_text_h3 {
        color: #9c9c9c;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .footer_text_p {
        color: #9c9c9c;
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    .iframe-wrapper {
        width: 80vw;
        max-width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        border: 1px solid var(--glass-border);
        background-clip: padding-box;
    }

    footer {
        margin-top: 100px;
    }
    .logo{
        width: 30%;
        max-width: 300px;
        margin: 0 auto;
    }

    .login-container {
        flex-direction: column;
    }
}
